body {
  font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.go_to_bottom {
  background-color: #a0d5ff;
  color: #220c82;
  padding: 10px 30px;
  font-size: 14px;
  margin: 10px 0;
  border: 2px solid #0000005c;
  font-weight: 800;
  text-decoration: none;
  text-shadow: 1px 1px #00bcd4;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
  transition: all 0.3s;
}
.font_semibold {
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.red_color {
  color: #ff0016;
}
.black_color {
  color: #000;
}
.blue_color {
  color: #001699;
}
.dark_blue_color {
  color: #00094d !important;
}
.yellow_color {
  color: #ffd700;
}
.bg_yellow_color {
  background-color: #ffd700;
}
.marun_color {
  color: #9b0000;
}
.purpal_color {
  color: #880e4f;
}
.grays_color {
  color: #444;
  text-shadow: 1px 1px 2px #fff;
}
.text_shadow {
  text-shadow: 1px 1px 2px #000;
}
.text_shadow_white {
  text-shadow: 1px 1px 2px #fff;
}
.text_shadow_red {
  text-shadow: 1px 1px 2px #ff0016;
}
.text_shadow_blue {
  text-shadow: 1px 1px 2px #001699;
}
.text_shadow_yellow {
  text-shadow: 1px 1px 2px #ffd700;
}
.border_top {
  border-top: 1px solid #ff0016;
}
.border_bottom {
  border-bottom: 1px solid #ff0016;
}
.border_left {
  border-left: 1px solid #ff0016;
}
.border_right {
  border-right: 1px solid #ff0016;
}
.none_itelic {
  font-style: normal;
}
.newst {
  border-bottom: 1px solid #ff0016;
  .tg {
    color: #00f;
    font-style: italic;
    font-family: trebuchet ms, Arial, Helvetica, sans-serif !important;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .tt {
    color: red;
    font-family: Times New Roman;
    font-style: italic;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .bolditc {
    font-size: 18px;
    color: green;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
    .redb {
      color: red;
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}
.date {
  border-bottom: 1px solid #ff0016;
  margin: 0 0px;
  padding: 10px 5px;
  border-radius: 0;
  border-top-width: 0;
  color: #000;
  font-weight: 700;
  font-style: italic;
  font-size: 22px;
}

main {
  font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-style: italic;
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  .header_section {
    padding: 0 0 16px !important;
    :nth-child(1) {
      font-size: 50px;
      font-weight: 700;
      text-shadow: 1px 1px 1px #000;
      line-height: normal;
    }
    :nth-child(2) {
      font-size: 30px;
      font-weight: 700;
      text-shadow: 1px 1px 1px #000;
      line-height: normal;
      margin-top: 10px;
    }
  }

  .panel_heading {
    background-color: #3f51b5;
    color: #fff;
  }

  .thead {
    background-color: #ffc107;
    text-shadow: 1px 1px 2px #9a7400ab;
  }

  .bg_transparent {
    background-color: transparent;
  }

  .button {
    background-color: #522f92;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 6px 12px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin: 4px 2px;
    cursor: pointer;
    font-style: italic;
    font-family: Helvetica, sans-serif;
  }
  .green-btn {
    background: linear-gradient(#00d309, #004503);
    font-size: 22px;
    margin-bottom: 5px;
    padding: 7px;
    border-radius: 10px;
    clip-path: polygon(
      0 0,
      97% 0,
      100% 48%,
      100% 80%,
      100% 100%,
      3% 100%,
      0 46%,
      0 20%
    );
    color: #fff;
    text-shadow: 1px 1px 2px red;
  }

  .game_name {
    font-size: 22px;
    color: #00094d;
    text-shadow: 1px 1px 2px #fff;
    font-style: italic;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
  }

  .game_number {
    margin: 0;
    font-size: 22px;
    line-height: 1;
    background: -webkit-linear-gradient(#4500bf, #670009);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 5px 5px;
    font-style: italic;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    text-shadow: none;
  }

  .game_time {
    font-size: 15px;
    padding: 2px 0;
    margin-bottom: 0;
    color: #000;
    text-shadow: 1px 1px 2px #ffd9d9;
  }

  .border_red_line {
    border: 2px solid #ff0016 !important;
    color: #000;
    border-radius: 0.75em;
    margin: 8px;
    padding: 0;
  }

  .section_header {
    max-width: 100%;
    text-align: center;
    background: #ff0016;
    padding: 5px 10px;
    text-shadow: 1px 1px 2px #000;
    display: block;
    margin-bottom: 5px;
    letter-spacing: 1px;
    font-weight: 700;
    border: 2px solid #fff;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    margin: 8px;
  }

  .game_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .world_result .game_card:last-child {
    border-bottom: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .table_container {
    .charts_heading {
      max-width: 100%;
      text-align: center;
      text-shadow: 1px 1px 2px #000;
      display: block;
      color: #ffd700;
      letter-spacing: 1px;
      font-weight: 700;
      transform-style: preserve-3d;
      font-family: Helvetica, sans-serif;
      font-size: 20px;
      background-color: #ff0016;
      border-radius: 0.75em;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    table {
      width: 100%;
      border: 1px solid navy;
      thead th {
        padding: 5px 2px;
        background: navy;
        border: 0;
        color: #fff;
        border: 1px solid #03a9f4a8;
      }
      tbody td {
        border: 1px solid #03a9f4a8;
      }
    }
  }
  .welcome_section {
    position: relative;
    img {
      border-radius: 10px;
    }
  }
  .panel_result_container {
    border: 1px solid #3f51b5;
    width: 85%;
    margin: 0 auto 0;
  }
  .jodi_result {
    border: 1px solid #3f51b5;
    width: 60%;
    margin: 0 auto 0;
  }
}

.kalyan_cont {
  .om {
    // border: 1px inset #ff0016;
    color: #000;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
    text-shadow: 2px 1px gold;
    font-size: 25px;
    margin-top: 10px;
  }
  .klyanbzr {
    font-size: 35px;
    color: red;
  }
  .tahlka {
    font-size: 50px;
    color: #00f;
  }
  .specialofr {
    font-size: 33px;
    color: red;
  }
  .labhdayak {
    font-size: 20px;
    color: #000;
  }
}
.table_cont {
  background-color: #ff0;
  border: 5px dashed navy;
  margin: 8px;
  color: #000;
  .bg_yellow_color {
    position: relative;
    table {
      th {
        border: 1px solid #444;
      }
      td {
        border: 1px solid #444;
      }
    }
  }
}

.flexdesign {
  display: flex;
  flex-wrap: wrap;
  .io {
    max-width: 100%;
    width: 50%;
    padding: 5px;
    .font35 {
      font-size: 35px;
      background: transparent;
      color: #fff;
      border: 1px solid #ff0016;
      border-top: 0;
    }
    .green-btn {
      background: linear-gradient(#00d309, #004503);
      font-size: 22px;
      font-weight: 700;
      font-style: italic;
      margin-bottom: 5px;
      padding: 7px;
      border-radius: 10px;
      clip-path: polygon(
        0 0,
        97% 0,
        100% 48%,
        100% 80%,
        100% 100%,
        3% 100%,
        0 46%,
        0 20%
      );
      color: #fff;
      text-shadow: 1px 1px 2px red;
    }
  }
  .io.font35:nth-child(odd) {
    border-width: 1px 0px 1px 1px;
    border-color: green;
  }
  .io.font35:nth-child(even) {
    border-width: 1px 1px 1px 1px;
    border-color: green;
  }
  .navyfonts {
    font-size: 20px;
    line-height: 24px;
    color: #1a237e;
    font-weight: 600;
  }
}
.introduction_cont {
  p {
    font-size: 12px;
    font-style: normal;
    padding: 8px;
    text-transform: capitalize;
    opacity: 0.9;
  }
  h2 {
    text-transform: uppercase;
    color: #0013a5;
    text-shadow: 1px 1px 2px #fff;
    font-weight: 800;
    font-size: 17px;
    padding: 3px 0;
    display: block;
  }
}
.introduction_cont_second {
  max-height: 250px;
  overflow: auto;
  h2 {
    text-transform: uppercase;
    color: #0013a5;
    text-shadow: 1px 1px 2px #fff;
    font-weight: 800;
    font-size: 17px;
    padding: 3px 0;
    display: block;
  }
  p {
    font-size: 12px;
    font-style: normal;
    padding: 8px;
    text-transform: capitalize;
    opacity: 0.9;
  }
}
.introduction_cont_third {
  h2 {
    text-transform: uppercase;
    color: #0013a5;
    text-shadow: 1px 1px 2px #fff;
    font-weight: 800;
    font-size: 17px;
    padding: 3px 0;
    display: block;
  }
  p {
    font-size: 12px;
    font-style: normal;
    padding: 8px;
    text-transform: capitalize;
    opacity: 0.9;
  }
}
.foote_cont {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 10px;
  a {
    display: flex;
    border: 1px solid #686868;
    color: #fff;
    padding: 0px 10px;
    border-radius: 0 10px;
    font-size: 12px;
    line-height: 24px;
  }
}

span.start_time.end_time.font-bold {
  text-transform: uppercase;
}

.lists_games {
  color: #1a237e;
  text-shadow: 1px 1px #d9d9d9;
  display: block;
  font-size: 22px;
  padding: 5px 7px 4px;
  border-bottom: 2px solid #00189f;
  text-align: center;
}
.section_four_container .font_semibold .lists_games:last-child {
  border-bottom: none;
}

.border_radius_head {
  border-radius: 0.75em;
}

@media only screen and (max-width: 500px) {
  main {
    .panel_result_container,
    .jodi_result {
      width: 100% !important;
    }
  }
  .border_radius_head_0 {
    border-radius: 0 !important;
  }
  main .welcome_section {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-align: center !important;
    img {
      min-width: 100px;
    }
    .text-right {
      text-align: center;
      font-size: 16px;
      line-height: 24px;
    }
  }
  .foote_cont {
    display: block;
    a {
      margin-bottom: 8px;
    }
  }

  .panel_result {
    width: 100%;
    padding: 0px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    table {
      max-width: 100%;
      overflow-x: scroll;
      margin: 0 auto;
      width: 100%;
      padding: 0px;
      // display: block;
      tr td {
        font-size: 9px;
        line-height: normal;
        padding: 5px 0;
      }
    }
  }
}

@media only screen and (max-width: 770px) {
  button.custom_btn {
    padding: 5px 7px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 500;
  }
  main .panel_heading {
    background-color: #3f51b5;
    color: #fff;
    font-size: 16px;
    line-height: normal;
    padding: 5px;
    width: 100%;
  }
  main .border_red_line {
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 40%);
  }
  thead tr th {
    width: 55px;
    font-size: 11px;
    line-height: 11px;
  }
  .min-h-\[60px\] {
    min-height: auto !important;
  }
  .left-digits {
    p {
      font-size: 11px !important;
      line-height: normal !important;
    }
  }
  .mid-digits {
    span {
      font-size: 16px !important;
      line-height: normal !important;
    }
  }

  .right-digits {
    p {
      font-size: 11px !important;
      line-height: normal !important;
    }
  }

  .jodi_result {
    table,
    th,
    td {
      border: 1px solid #000;
    }
    thead {
      background-color: #ffc107;
      text-shadow: 1px 1px 2px #9a7400ab;
      th {
        font-size: 16px !important;
        line-height: 24px !important;
        font-weight: 700;
        padding: 0;
        font-style: normal;
      }
    }
    tbody td {
      padding: 5px 0;
      .mid-digits span {
        font-size: 24px !important;
        line-height: normal !important;
        font-weight: 700;
      }
    }
  }
}
