@tailwind base;
@tailwind components;
@tailwind utilities;

.body_color {
  background-color: #fc9;
  text-align: center;
  padding: 3px 10px;
  margin: 0;
  scroll-behavior: smooth;
  font-style: italic;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  line-height: normal;
}
